<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap 5 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div>
    <div class="container-fluid p-5 bg-light text-black text-center" style="display: flex; justify-content: center">
        <img src="/images/logo.png" style="height: 80px;" onclick="location.href='../../..'">
        <h1> 스타벅스 관리자 페이지 </h1>

    </div>

    <nav class="nav justify-content-around navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid" style="display: flex; justify-content: space-around">
            <div style="display: flex; justify-content: stretch">
                <a class="navbar-brand" href="#">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown">상품 조회 및 수정</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/beverage">음료</a></li>
                                <li><a class="dropdown-item" href="/foods">푸드</a></li>
                                <li><a class="dropdown-item" href="/goods">상품</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown">스타벅스 카드 조회 및 수정</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">카드 등록</a></li>
                                <li><a class="dropdown-item" href="#">카드 수정</a></li>
                                <li><a class="dropdown-item" href="#">카드 제거</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown">프로모션</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">프로모션 등록</a></li>
                                <li><a class="dropdown-item" href="#">프로모션 수정</a></li>
                                <li><a class="dropdown-item" href="#">프로모션 삭제</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown">회원정보관리</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">회원 조회/수정</a></li>
                                <li><a class="dropdown-item" href="#">회원 삭제</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button"
                               data-bs-toggle="dropdown">매출집계</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Link</a></li>
                                <li><a class="dropdown-item" href="#">Another link</a></li>
                                <li><a class="dropdown-item" href="#">A third link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>


<!---->
<div style="display: flex; justify-content: center">
    <div style="width: 2400px; text-align: center">
        <div class="container-fluid">
            <h5>음료 등록</h5>
            <table class="table">
                <thead class="table-success">
                <tr> <!-- 음료명 등은 폼필드/ 카테고리 등은 드롭다운으로 만들것  -->
                    <!-- DB 필드명에 맞춰 박스 재구성할것  -->
                    <th>No.</th>
                    <th>카테고리</th><!-- 1.플러터 MOCK 데이터 카테고리 참고 -->
                    <th>사진</th>
                    <th>제품명</th>
                    <th>제품영문명</th>
                    <th>제품설명</th>
                    <th>팁</th>
                    <th>핫/아이스</th>
                    <th>사이즈/금액</th>
                    <th>등록</th><!-- 아이콘으로 표시할것-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div>
                            <select id="beverage-category" class="form-control" style="text-align: center">
                                <option value="category">카테고리</option>
                                <option value="coldbrew">콜드브루</option>
                                <option value="brewed">브루드커피</option>
                                <option value="espresso">에스프레소</option>
                                <option value="frappuccino">프라푸치노</option>
                                <option value="blended">블렌디드</option>
                                <option value="refresher">리프레셔</option>
                                <option value="fizzio">피지오</option>
                                <option value="decaffeine">디카페인</option>
                                <option value="tea">티(티바나)</option>
                                <option value="others">병음료</option>
                            </select>
                        </div>
                    </td>
                    <td> +</td>
                    <td>
                        <input type="text" class="form-control" id="beverageName" placeholder="제품명을 입력해주세요"
                               style="text-align: center">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="beverageEngName" placeholder="제품 영문명을 입력해주세요"
                               style="text-align: center">
                    </td>
                    <td>
                        <textarea class="form-control" id="beverageDescription" placeholder="제품설명을 입력해주세요"
                                  rows="3" style="text-align: center"></textarea>
                    </td>
                    <td><textarea class=" form-control" id="beverageTip" placeholder="제품설명을 입력해주세요" rows="3"
                                  style="text-align: center"></textarea>
                    </td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="hot">
                            <label class="form-check-label" for="flexCheckChecked">
                                HOT
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="ice" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                                ICED
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm mb-3">
                            <select id="size" class="form-control">
                                <option value="tall">Tall</option>
                                <option value="grande">Grande</option>
                                <option value="venti">Venti</option>
                                <option value="trenta">Trenta</option>
                                <option value="solo">Solo</option>
                                <option value="dopio">Dopio</option>
                                <option value="short">Short</option>
                            </select>
                            <input type="number" class="form-control" id="price" aria-label="price"
                                   aria-describedby="inputGroup-sizing-sm"
                                   style="width: 20px; justify-content: center">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group input-group-sm mb-3">
                                <select id="size" class="form-control">
                                    <option value="grande">Grande</option>
                                    <option value="venti">Venti</option>
                                    <option value="trenta">Trenta</option>
                                    <option value="solo">Solo</option>
                                    <option value="dopio">Dopio</option>
                                    <option value="short">Short</option>
                                    <option value="tall">Tall</option>
                                </select>
                                <input type="number" class="form-control" id="price" aria-label="price"
                                       aria-describedby="inputGroup-sizing-sm"
                                       style="width: 20px; justify-content: center">
                            </div>
                            <select id="size" class="form-control">
                                <option value="venti">Venti</option>
                                <option value="trenta">Trenta</option>
                                <option value="solo">Solo</option>
                                <option value="dopio">Dopio</option>
                                <option value="short">Short</option>
                                <option value="tall">Tall</option>
                                <option value="grande">Grande</option>
                            </select>
                            <input type="number" class="form-control" id="price" aria-label="price"
                                   aria-describedby="inputGroup-sizing-sm"
                                   style="width: 20px; justify-content: center">
                        </div>

                    </td>


                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>
                </tbody>
            </table>
            <br>
            <h5>등록 음료 리스트</h5>
            <table class="table table-hover">
                <thead class="table-success">
                <tr> <!-- 음료명 등은 폼필드/ 카테고리 등은 드롭다운으로 만들것  -->
                    <!-- DB 필드명에 맞춰 박스 재구성할것  -->
                    <th>No.</th>
                    <th>카테고리</th><!-- 1.플러터 MOCK 데이터 카테고리 참고 -->
                    <th>사진</th>
                    <th>음료명</th>
                    <th>음료 영문명</th>
                    <th>음료 설명</th>
                    <th>팁</th>
                    <th>핫/아이스</th>
                    <th>금액</th>
                    <th>사이즈</th>
                    <th>수정</th><!-- 아이콘으로 표시할것-->
                    <th>삭제</th><!-- 아이콘으로 표시할것-->
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>콜드 브루 커피</td>
                    <td><img
                            src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[9200000002487]_20210426091745609.jpg"
                            style="height: 80px;"></img></td>
                    <td>나이트로 바닐라 크림</td>
                    <td>Nitro Vanilla Cream</td>
                    <td>부드러운 목넘김의 나이트로 커피와 바닐라 크림의 매력을 한번에 느껴보세요!</td>
                    <td>디카페인결제시 300원 추가됩니다.</td>
                    <td>Hot</td>
                    <td>6100원</td>
                    <td>Short</td>

                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                    <td><img src="https://cdn-icons-png.flaticon.com/512/6398/6398171.png" style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>
                <tr>
                    <td>2</td>
                    <td>콜드 브루 커피</td>
                    <td>바닐라 크림 콜드 브루</td>
                    <td>Vanilla Cream Cold Brew</td>
                    <td>콜드 브루에 더해진 바닐라 크림으로 깔끔하면서 달콤한 콜드 브루를 새롭게 즐길 수 있는 음료입니다.</td>
                    <td>디카페인결제시 300원 추가됩니다.</td>
                    <td>Iced</td>
                    <td>5800원</td>
                    <td>Tall</td>
                    <td><img
                            src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[9200000002487]_20210426091745609.jpg"
                            style="height: 80px;"></img></td>
                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                    <td><img src="https://cdn-icons-png.flaticon.com/512/6398/6398171.png" style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>

                <tr>
                    <td>3</td>
                    <td>콜드 브루 커피</td>
                    <td>바닐라 크림 콜드 브루</td>
                    <td>Vanilla Cream Cold Brew</td>
                    <td>콜드 브루에 더해진 바닐라 크림으로 깔끔하면서 달콤한 콜드 브루를 새롭게 즐길 수 있는 음료입니다.</td>
                    <td>디카페인결제시 300원 추가됩니다.</td>
                    <td>Iced</td>
                    <td>5800원</td>
                    <td>Tall</td>
                    <td><img
                            src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[9200000002487]_20210426091745609.jpg"
                            style="height: 80px;"></img></td>
                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                    <td><img src="https://cdn-icons-png.flaticon.com/512/6398/6398171.png" style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>

                <tr>
                    <td>4</td>
                    <td>콜드 브루 커피</td>
                    <td>돌체 콜드 브루</td>
                    <td>Dolche Cold Brew</td>
                    <td>무더운 여름철 동남아 휴가지에서 즐기는 커피를 떠오르게 하는 스타벅스 음료의 베스트 x 베스트 조합인 돌체 콜드 브루를 만나보세요!</td>
                    <td>디카페인결제시 300원 추가됩니다.</td>
                    <td>Iced</td>
                    <td>6000원</td>
                    <td>Grande</td>
                    <td><img
                            src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[9200000002487]_20210426091745609.jpg"
                            style="height: 80px;"></img></td>
                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                    <td><img src="https://cdn-icons-png.flaticon.com/512/6398/6398171.png" style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>

                <tr>
                    <td>5</td>
                    <td>에스프레소</td>
                    <td>에스프레소 콘 파나</td>
                    <td>Espresso Con Panna</td>
                    <td>신선한 에스프레소 샷에 풍부한 휘핑크림을 얹은 커피 음료로서, 뜨거운 커피의 맛과 차갑고 달콤한 생크림의 맛을 같이 즐길 수 있는 커피 음료</td>
                    <td>디카페인결제시 300원 추가됩니다.</td>
                    <td>Iced</td>
                    <td>4200원</td>
                    <td>Solo</td>
                    <td><img src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[30]_20210415144252425.jpg"
                             style="height: 80px;"></img></td>
                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                    <td><img src="https://cdn-icons-png.flaticon.com/512/6398/6398171.png" style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>
                <tr>
                    <td>6</td>
                    <td>에스프레소</td>
                    <td>에스프레소 콘 마끼아또</td>
                    <td>Espresso Macchiato</td>
                    <td>신선한 에스프레소 샷에 우유 거품을 살짝 얹은 커피 음료로써, 강렬한 에스프레소의 맛과 우유의 부드러움을 같이 즐길 수 있는 커피 음료</td>
                    <td>디카페인결제시 300원 추가됩니다.</td>
                    <td>Iced</td>
                    <td>4000원</td>
                    <td>Doppio</td>
                    <td><img src="https://image.istarbucks.co.kr/upload/store/skuimg/2021/04/[25]_20210415144211211.jpg"
                             style="height: 80px;"></img></td>
                    <td><img src="https://cdn.icon-icons.com/icons2/2098/PNG/512/edit_icon_128873.png"
                             style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                    <td><img src="https://cdn-icons-png.flaticon.com/512/6398/6398171.png" style="height: 80px;"
                             onclick="location.href='../../..'"></img></td>
                    <!-- 아이콘으로 표시할것-->
                </tr>

                </tbody>

            </table>
        </div>
    </div>
</div>
</body>
</div>
</html>

