<!-- 여기부터 푸터-->
<div class="footer-class">
  <div class="bg p-5 text-center">
    <div class="bg p-5 text-center" style="display: flex; justify-content: space-around;">
      <div>
        <img src="/images/logo.png" style="max-width: 500px;">
      </div>


      <div>
        <br>
        <h4><strong>stay connect</strong></h4>
        <br>
        <img src="/images/icon3.png">

        <!-- 이용약관 내용 -->
      </div>

      <div>
        <h5><strong>Or Leave a Message Here</strong></h5>
        <br>
        <p> *Full Name</p>
        <hr>
        <p> *Email</p>
        <hr>

        <p> *DM Plz...🙏</p>
        <br>
        <hr>
        <div class="d-flex justify-content-end mt-1">
          <button type="button" class="btn btn-primary" style="width: 30%; height: 5%;">
            Submit
          </button>
        </div>




      </div>

    </div>
    <h6>
    </h6>
  </div>
</div>

</body>

</html>