{{>/layout/header}}


<div style="display: flex; justify-content: center">
    <div style="width: 2400px; text-align: center">

        <!--본문내용은 이 주석 이후에 작성할것-->





        <!--본문내용은 이 주석 이전에 작성이 완료되어야함-->


    </div>
</div>



{{>/layout/footer}}