{{>/layout/header}}
<div class="container mt-3">
    <h5>음료 등록</h5>
    <table class="table table-hover">
        <thead class="table-success">
        <tr> <!-- 음료명 등은 폼필드/ 카테고리 등은 드롭다운으로 만들것  -->
            <!-- DB 필드명에 맞춰 박스 재구성할것  -->
            <th>No.</th>
            <th>음료명</th>
            <th>카테고리</th><!-- 1.플러터 MOCK 데이터 카테고리 참고 -->
            <th>고객ID</th>
            <th>고객명</th>
            <th>품목</th>
            <th>누적주문횟수</th>
            <th>금액</th>
            <th>결제수단</th>
            <th>수정</th><!-- 아이콘으로 표시할것-->
            <th>삭제</th><!-- 아이콘으로 표시할것-->
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
            <td>수정</td><!-- 아이콘으로 표시할것-->
            <td>삭제</td><!-- 아이콘으로 표시할것-->
        </tr>
    <h5>음료 내역 및 등록 </h5>
    <table class="table table-hover">
        <thead class="table-success">
        <tr> <!-- 음료 등록에 필요한 내용들로 th 구성할 것 -->
            <th>No.</th>
            <th>음료명</th>
            <th>카테고리</th><!-- 1.플러터 MOCK 데이터 카테고리 참고 -->
            <th>고객ID</th>
            <th>고객명</th>
            <th>품목</th>
            <th>누적주문횟수</th>
            <th>금액</th>
            <th>결제수단</th>
            <th>수정</th><!-- 아이콘으로 표시할것-->
            <th>삭제</th><!-- 아이콘으로 표시할것-->
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
            <td>수정</td><!-- 아이콘으로 표시할것-->
            <td>삭제</td><!-- 아이콘으로 표시할것-->
        </tr>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
        </tr>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
        </tr>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
        </tr>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
        </tr>
        <tr>
            <td>1</td>
            <td>23.10.31</td>
            <td>04:54:22</td>
            <td>john</td>
            <td>최제인</td>
            <td>아이스아메리카노</td>
            <td>15회</td>
            <td>5400원</td>
            <td>카드</td>
        </tr>
        </tbody>
    </table>
</div>